.App {
  background-color: #152fa2;
  background-image: linear-gradient(43deg, #152fa2 0%, #b119a6 46%, #FFCC70 100%);
  
  height: 100vh;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.adder {
  width: 270px;
  margin: 0px auto;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
  
}

.adder input {
  align-items: center;
  outline: none;
  border: 3px solid white;
  background-color: #152fa2;
  background-color: #6076cf;
  background-image: linear-gradient(43deg, #6076cf 0%, #cd60c6 46%, #FFCC70 100%);
  justify-content: center;
  color: white;
  height: 70px;
  width: 350px;
  padding-left: 14px;
  font-weight: 800;
  font-size: 20px;
}

.adder span {
  
 
  position: absolute;
  right: 14px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.8;
  cursor: pointer;
  transition: all 200ms;
  color: white;
}

